# Conceptos básicos de programación en Python

## Introducción

Python es un lenguaje de programación **interpretado**, de **alto nivel**, de **propósito general**, creado en 1989 y diseñado por Guido van Rossum. Su nombre se debe a la afición del creador por el grupo de humoristas de los años 60 y 70 [Monty Python](https://es.wikipedia.org/wiki/Monty_Python).

Como lenguaje **interpretado**, el código fuente desarrollado por el programador se traducirá a código intermedio optimizado para su ejecución y será ejecutado directamente por un *intérprete*. En contraposición, los lenguajes **compilados** requieren que el código sea traducido previamente a una secuencia de operaciones de bajo nivel. La existencia de un intérprete nos permite tanto la ejecución de scripts como la ejecución de sentencias interactivas.

Como lenguaje de **alto nivel**, nos permite escribir código de manera independiente a la máquina que estemos utilizando y de una manera más comprensible para el ser humano. También nos abstrae de procesos de bajo nivel como la *gestión de la memoria*.

Como lenguaje de **propósito general**, nos proporciona librerías para desarrollar una amplia variedad de soluciones, como [servidores web](https://www.djangoproject.com/), aplicaciones de [escritorio](https://medium.com/@hektorprofe/primeros-pasos-en-pyqt-5-y-qt-designer-programas-gr%C3%A1ficos-con-python-6161fba46060), aplicaciones [móviles](https://realpython.com/mobile-app-kivy-python/), o [modelos de aprendizaje automático](https://www.tensorflow.org/learn).

Es, además, un lenguaje de gran [popularidad](https://www.tiobe.com/tiobe-index/), utilizado por grandes [empresas](https://realpython.com/world-class-companies-using-python/) como Google y Facebook.

Se trata de un lenguaje **multiplataforma** que puede instalarse gratuitamente en máquinas con Windows ([Microsoft Store](https://www.microsoft.com/es-es/p/python-38/9mssztt1n39l?activetab=pivot:overviewtab), [instalador oficial](https://www.python.org/downloads/windows/)), Linux ([gestor de paquetes](https://docs.python-guide.org/starting/install3/linux/)) y Mac OS X ([homebrew](https://docs.python-guide.org/starting/install3/osx/), [instalador oficial](https://www.python.org/downloads/mac-osx/)), entre otras. El código desarrollado, será **portable** a otras máquinas que tengan la misma versión de Python instalada.

A la hora de programar en Python, debemos tener en cuenta una serie de reglas básicas:

* Python define una sintaxis orientada a la indentación. En lugar de utilizar los delimitadores `{` `}`, como ocurre en lenguajes como `C` y `Java` para delimitar bloques de código, `Python` utiliza tabuladores y espacios. Esto implica que tenemos que tener cuidado con los espacios y tabulaciones situados antes de las expresiones ya que pueden alterar el sentido de nuestro programa. Veamos un ejemplo:

In [1]:
result = 0
for i in [0,1,2]:
  result += i

  print(result)

0
1
3

In [2]:
result = 0
for i in [0,1,2]:
  result += i

print(result)

3

**¿Notáis alguna diferencia entre ambas celdas de código?**

In [ ]:
#@title
# La única diferencia entre ambas celdas es que, en el primer caso, a la
# sentencia print(result) le precede una tabulación, mientras que en el
# segundo no. Debido a dicha tabulación, `Python` considera que el comando
# print` está incluido en el `for` previo en el primer caso, mientras que en
# el segundo considera que es externo.

* El carácter `#` se utiliza para introducir comentarios en el código, y se recomienda que los comentarios de varias líneas estén todos precedidos por `#`.

In [ ]:
# Esta sentencia suma dos números
2 + 3

In [ ]:
# Esta sentencia también suma dos
# números pero el comentario ocupa
# varias líneas
2+3

* Dado que aquí **no** tenemos un carácter delimitador de final de sentencias (generalmente `;`), las expresiones finalizan al final de la línea, excepto cuando hay un paréntesis, llave o corchete abiertos.

In [ ]:
# Esto son dos expresiones, y se devuelve el resultado de la última
1 + 2
+ 3

3

In [ ]:
# Esto es una única expresión, y se devuelve el resultado de la suma
(1 + 2
 + 3)

## Tipos de datos simples

Igual que ocurre con otros lenguajes de programación, `Python` define una serie de tipos de datos básicos sobre los que trabajar, y son: `enteros`, `decimales`, `booleanos` y `cadenas`. Existe también el tipo especial `null`, que en `Python` se denomina **`None`**, para indicar el desconocimiento o la no inicialización de un valor. Nos proporciona, además, la función `type` para saber el tipo de datos asociado a una expresión.

In [ ]:
print("Tipo de 1 es: ", type(1)) # Es un entero
print("Tipo de 1.0 es: ", type(1.0)) # Es un float
# Se puede utilizar el carácter \ para escapar las comillas en una cadena
print("Tipo de \"1\" es:", type("1")) # Es una cadena
print("Tipo de '1' es:", type('1')) # Es una cadena, no un caracter
# Atención, en Python True y False empiezan siempre con mayúscula
print("Tipo de True es: ", type(True)) # Es un booleano
print("Tipo de False es: ", type(False)) # Es un booleano
print("El tipo del valor especial None es: ", type(None))

Tipo de 1 es:  <class 'int'>
Tipo de 1.0 es:  <class 'float'>
Tipo de "1" es: <class 'str'>
Tipo de '1' es: <class 'str'>
Tipo de True es:  <class 'bool'>
Tipo de False es:  <class 'bool'>
El tipo del valor especial None es:  <class 'NoneType'>

Todos los tipos de datos (simples y complejos) pueden ser asignados a **variables** para su posterior uso.

In [ ]:
a = 1
print(a) # Imprime 1

Python nos proporciona además una serie de operadores mediante los que podremos trabajar con sus tipos de datos. Los operadores básicos son:

* Suma o concatenación

In [ ]:
print("Suma: ", 1 + 3)  # Suma
print("Concatenación: ", "1" + "3") # Concatenación



*   Diferencia

In [ ]:
print("Diferencia:", 6-4)
# Atentos a la pérdida de precisión
print("Diferencia con pérdida de precisión:", 2.3 - 1.1)

Diferencia: 2
Diferencia con pérdida de precisión: 1.1999999999999997

* Multiplicación o repetición

In [ ]:
print("Multiplicación: ", 6*4)
print("Repetición: ", "Hola Mundo!! "*4)

* División decimal y entera:

In [ ]:
print("División entera: ", 5//2)
print("División decimal: ", 5/2)

División entera:  2
División decimal:  2.5

* Módulo:

In [ ]:
print("El resto de 5 entre 2 es: ", 5%2)

* Exponenciación:

In [ ]:
print("1 elevado a cualquier número entero es siempre 1:", 1**312342)

1 elevado a cualquier número entero es siempre 1: 1

* Comparación:

In [ ]:
print("Ordenando alfabéticamente, hola es menor que mundo, por lo que este resultado será falso:", "hola" > "mundo")
print("3 es mayor o igual que 1:", 3 >= 1)
print("Pero es menor que 6: ", 3 < 6)
print("En Python, el booleano True se codifica con el valor 1: ", 1 == True)
print("Mientras que False se codifica con el valor 0: ", 0 == False)
print("True y False no son lo mismo: ", True != False)

* Operadores lógicos:

In [ ]:
print ("True and False es: ", True and False)
print ("True or False es: ", True or False)
print ("La negación de True es False: ", not True)

Los operadores que actúan sobre los booleanos se comportan de forma un "poco" diferente en Python en determinadas situaciones:
* Cualquier número distinto de cero es True.
* Cualquier objeto no vacío es True.
* El cero, los objetos vacíos, y el objeto None se consideran False.
* Las comparaciones y tests de igualdad se aplican recursivamente a estructuras de datos.
* Las comparaciones y tests de igualdad devuelven True o False.
* Las operaciones booleanas and y or devuelven un objeto operando que puede ser verdadero o falso.

In [4]:
if 8: print("True")
a = 4
if a: print("True")

True
True

In [1]:
if None: print("True")

In [2]:
if 0: print("True")

In [3]:
l=list()
if l: print("True")

In [4]:
8 or 0

8

In [5]:
0 or 0

0

In [6]:
8 or "alex"

8

In [7]:
0 or "alex"

'alex'

Las expresiones lógicas también pueden tener como argumentos otros elementos que no sean de tipo booleano. En este caso, `and` nos devolverá el primer argumento que se evalúe a `False` o bien el último argumento:

In [ ]:
print("\"uno\" and 1 and \"test\" =", "uno" and 1 and "test")
print("\"uno\" and 0 and \"test\" =", "uno" and 0 and "test")
print("\"uno\" and False and \"test\" =", "uno" and False and "test")
print("False and \"ok\" and \"test\" =", False and "ok" and "test")

"uno" and 1 and "test" = test
"uno" and 0 and "test" = 0
"uno" and False and "test" = False
False and "ok" and "test" = False

El operador `or` nos devolverá el primer argumento que se evalúe a `True`:

In [ ]:
print("\"uno\" or 1 or \"test\" =", "uno" or 1 or "test")
print("False or 0 or \"test\" =", False or 0 or "test")
print("False or \"ok\" or \"test\" =", False or "ok" or "test")
print("0 or False or \"test\" or \"ok\" =", 0 or False or "test" or "ok")

"uno" or 1 or "test" = uno
False or 0 or "test" = test
False or "ok" or "test" = ok
0 or False or "test" or "ok" = test

* Operadores a nivel de bit:

In [ ]:
# En binario, 011 & 101 = 001
print("AND a nivel de bit entre 3 y 5:", 3 & 5)
# En binario, 011 | 101 = 111
print("OR a nivel de bit entre 3 y 5:", 3 | 5)
# En binario, 011 >> 1 = 001
print("Desplazamiento a la derecha de 3:", 3 >> 1)
# En binario, 101 << 1 = 1010
print("Desplazamiento a la izquierda de 5:", 5 << 1)
print("Negación a nivel de bit de 1:", ~1)

AND a nivel de bit entre 3 y 5: 1
OR a nivel de bit entre 3 y 5: 7
Desplazamiento a la derecha de 3: 1
Desplazamiento a la izquierda de 5: 10
Negación a nivel de bit de 1: -2

* Operadores de conversión de tipos:

In [ ]:
print("hola " + str(123456)) # Transforma número a cadena, para que pueda concatenarse
print(float("1.34") + 2.06) # Suma de una cadena transformada a float y un float
print(int("400") + 5) # Suma de una cadena transformada a int y un int
print(bool("hola") or False) # Cualquier cadena que no sea vacía se transformará a True
print(bool("") == False)

* También nos proporciona una serie de métodos para trabajar con cadenas:

In [ ]:
print("\"HOLA MUNDO\" en minúsculas: ", "HOLA MUNDO".lower())
print("\"hola mundo\" en mayúsculas: ", "hola mundo".upper())
print("¿Acaba \"Hola mundo\" en do? ", "Hola mundo".endswith("do"))
print("¿Empieza \"Hola mundo\" por do? ", "Hola mundo".startswith("do"))
print("¿En qué posición comienza la palabra mundo en \"Hola mundo\? ", "Hola mundo".find("mundo"))
print("¿Qué caracter ocupa la posición 3 en \"Hola mundo\"?", "Hola mundo"[3])
print("¿Qué caracteres hay a partir de la posición 5 en \"Hola mundo\"?", "Hola mundo"[5:])
print("¿Qué caracteres hay antes de la posición 5 en \"Hola mundo\"?","Hola mundo"[:5])
print("¿Qué caracteres hay entre la posición 5 y la 8 en \"Hola mundo\"?","Hola mundo"[5:8])
print("¿Qué caracteres hay a partir de la penúltima posición \"Hola mundo\"?","Hola mundo"[-2:])
print("¿Qué caracteres hay hasta la penúltima posición \"Hola mundo\"?","Hola mundo"[:-2])

"HOLA MUNDO" en minúsculas:  hola mundo
"hola mundo" en mayúsculas:  HOLA MUNDO
¿Acaba "Hola mundo" en do?  True
¿Empieza "Hola mundo" por do?  False
¿En qué posición comienza la palabra mundo en "Hola mundo\?  5
¿Qué caracter ocupa la posición 3 en "Hola mundo"? a
¿Qué caracteres hay a partir de la posición 5 en "Hola mundo"? mundo
¿Qué caracteres hay antes de la posición 5 en "Hola mundo"? Hola
¿Qué caracteres hay entre la posición 5 y la 8 en "Hola mundo"? mun
¿Qué caracteres hay a partir de la penúltima posición "Hola mundo"? do
¿Qué caracteres hay hasta la penúltima posición "Hola mundo"? Hola mun

      Tenemos incluso operadores para invertir el orden de los caracteres en una cadena:

In [11]:
print("\"Hola mundo\" al revés: ", "Hola mundo"[::-1])

"Hola mundo" al revés:  odnum aloH

     O para quedarnos únicamente con los caracteres mútiplos de un número:

In [ ]:
print("Caracteres que ocupan posición par en \"Hola mundo\": ", "Hola mundo"[::2])

**Ejercicio**

**¿Podrías imprimir los últimos caracteres de la cadena `Hola mundo` en sentido inverso y uno por línea?**

In [8]:
#@title
print("Hola mundo"[-1])
print("Hola mundo"[-2])
print("Hola mundo"[-3])
print("Hola mundo"[-4])
print("Hola mundo"[-5])

o
d
n
u
m

**Ejercicio**

**¿Podrías imprimir las letras que ocupan una posición múltiplo de 3 a partir de la posición 10 de la siguiente cadena y hasta la posición 20?**

`Lorem ipsum dolor sit amet consectetur adipiscing elit auctor suspendisse varius facilisis nostra`

In [ ]:
#@title
print("Lorem ipsum dolor sit amet consectetur adipiscing elit auctor suspendisse varius facilisis nostra"[10:20:3])

* Podemos incluso embeber variables dentro de cadenas:

In [ ]:
nombre = "Pablo"
ciudad = "Murcia"
print("Hola, mi nombre es {0} y vivo en {1}".format(nombre, ciudad))
print(f"Hola, mi nombre es {nombre} y vivo en {ciudad}")

## Tipos de datos complejos

Python también define tipos de datos **complejos**, como son las **listas**, los **diccionarios**, **tuplas** y los **conjuntos**:

### Listas

Las **listas** son muy utilizadas en Python, y representan un conjunto de elementos ordenado que puede contener valores repetidos:

In [ ]:
lista_compra = ["manzanas", "patatas", "cebolla"]
lista_precios = list()
lista_compra2 = [0, 1, 2, 3, 4, 5, 6]
cadena="hola a todos"

In [ ]:
print(lista_compra2[::-1])
print(cadena[::-1])

[6, 5, 4, 3, 2, 1, 0]
sodot a aloh

Las listas nos permiten recuperar sus elementos por índice, e incluso recuperar rangos de valores:

In [ ]:
print("Elementos en las dos primeras posiciones de la lista de la compra:", lista_compra[0:2])
print("Elementos en las dos primeras posiciones de la lista de la compra:", lista_compra[:2])
print("Elemento en las dos últimas posiciones de la lista de la compra:", lista_compra[1:3])
print("Elemento en las dos últimas posiciones de la lista de la compra:", lista_compra[0:3:2])
print("Elemento en las dos últimas posiciones de la lista de la compra:", lista_compra[1:])
print("Elemento en la segunda posición de la lista de la compra:", lista_compra[2])
print("Último elemento de la lista de la compra:", lista_compra[-1])

Elementos en las dos primeras posiciones de la lista de la compra: ['manzanas', 'patatas']
Elementos en las dos primeras posiciones de la lista de la compra: ['manzanas', 'patatas']
Elemento en las dos últimas posiciones de la lista de la compra: ['patatas', 'cebolla']
Elemento en las dos últimas posiciones de la lista de la compra: ['manzanas', 'cebolla']
Elemento en las dos últimas posiciones de la lista de la compra: ['patatas', 'cebolla']
Elemento en la segunda posición de la lista de la compra: cebolla
Último elemento de la lista de la compra: cebolla

Para añadir elementos al final de una lista utilizaremos el método `append`:

In [ ]:
lista_precios.append(1)
lista_precios.append(2)
print("Lista de precios contiene: ", lista_precios)

Lista de precios contiene:  [1, 2]

Si queremos añadir un elemento en una determinada posición, utilizaremos el método `insert`:

In [ ]:
lista_precios.insert(0, 0.5)
print("Lista de precios contiene ahora: ", lista_precios)

Lista de precios contiene ahora:  [0.5, 1, 2]

Mediante el operador `+` podremos concatenar listas:

In [ ]:
print("Concatenación de productos y precios: ", lista_compra + lista_precios)

Concatenación de productos y precios:  ['manzanas', 'patatas', 'cebolla', 0.5, 1, 2]

Una función muy interesante es la función `zip` que construye una lista de tuplas que contiene emparejados los elementos de cada lista pasada como argumento:

In [ ]:
compuesto = list(zip(lista_compra, lista_precios))
print("Productos y sus precios: ", compuesto)

Productos y sus precios:  [('manzanas', 0.5), ('patatas', 1), ('cebolla', 2)]

Si queremos acceder al precio del segundo elemento de este resultado, escribiríamos lo siguiente:

In [ ]:
compuesto[1][1]

Tenemos también a nuestra disposición el método `pop`, que eliminará elementos de una lista:

In [ ]:
lista = [1,2,3,4,5,6]
print("Lista inicial: ", lista)
print("Por defecto pop extrae el último elemento de la lista, que es: ", lista.pop())
print("Lista ahora: ", lista)
print("También nos permite extraer elementos por posición.")
print("Por ejemplo, el elemento de la posición 2 extraído es: ", lista.pop(2))
print("Lista ahora: ", lista)

**OJO**. Las cadenas y las listas son secuencias ordenadas de elementos, con la diferencia de que las cadenas son inmutables y las litas mutables. Por ello, las cadenas son secuencias de caracteres y Python nos permite realizar ciertas conversiones con listas.

In [ ]:
lista_tareas = list()
lista_tareas += "barrer"
lista_tareas += "limpiar"
lista_tareas += "fregar"
print("Lista de tareas contiene: ", lista_tareas)

Lista de tareas contiene:  ['b', 'a', 'r', 'r', 'e', 'r', 'l', 'i', 'm', 'p', 'i', 'a', 'r', 'f', 'r', 'e', 'g', 'a', 'r']

También podemos aplicar a las listas los operadores para `invertir` secuencias u obtener elementos en una posición múltiplo de un número:

In [ ]:
lista = [1,2,3,4,5,6]
print("Lista en orden inverso: ", lista[::-1])
print("Posiciones pares de la lista: ", lista[::2])

Para recuperar el número de elementos contenidos en una lista utilizaremos la función `len`:

In [ ]:
print("Número de productos en lista de la compra: ", len(lista_compra))

Una función muy interesante para generar listas es `range`, mediante la que crearemos listas secuenciales de enteros:

In [ ]:
print("Lista con los números del 0 al 6: ", list(range(0,6)))
print("Lista de números pares del 0 al 20: ", list(range(0,20, 2)))
print("Lista de números pares del 0 al -20: ", list(range(0,-20, -2)))

También puede resultarnos muy útil *ordenar* los elementos de una lista, lo que conseguiremos fácilmente gracias al método `sort`:

In [ ]:
lista = [3,1,4,5,1,2,3,4,5,0]
print ("Lista desordenada: ", lista)
lista.sort()
print ("Lista ordenada: ", lista)

Lista desordenada:  [3, 1, 4, 5, 1, 2, 3, 4, 5, 0]
Lista ordenada:  [0, 1, 1, 2, 3, 3, 4, 4, 5, 5]

### Tuplas

* Una **tupla** define un conjunto de elementos relacionados.
* Funcionan casi exactamente igual que las listas, pero son inmutables.
* No proporcionan tantos métodos como las listas, pero sí comparten varias de sus propiedades.
* Se escriben entre paréntesis.

Un ejemplo muy claro de tupla serían las coordenadas de un punto.

In [ ]:
tuple1 = (1,2)
print("Primer elemento de tupla1 es: ", tuple1[0])
tuple2 = (2,3)
print("Segundo elemento de tupla2 es: ", tuple2[1])
print("Operador suma concatena tuplas, si queremos sumar su contenido tendremos que ir elemento a elemento: ", tuple1 + tuple2)
print("No existe restricción en cuanto a los datos almacenables en una tupla: ", (1, "hola"))
print("Incluso podrían contener otras tuplas: ", (1, (2,3)))

La función `len` nos dará el número de elementos contenidos en una tupla:

In [ ]:
len(tuple1)

Un aspecto muy interesante de las tuplas es que se puede extraer su contenido directamente de la siguiente manera:

In [ ]:
primero, segundo = (1,2)
print(primero, segundo)

A esta acción se le conoce como **desestructuración** o **desempaquetado**.

Las tuplas solo defínen dos métodos:
* **index** Devuelve la posición del elemento a buscar. Se genera una excepción si el elemento no se encuentra.
* **count** Devuelve el número de ocurrencias del elemento a buscar en la tupla.

In [ ]:
t = (23, 46, 81, 23, 56, 35, 89, 2)
t.index(46)

In [ ]:
t.index(100)

In [ ]:
t.count(23)

In [ ]:
t.count(100)

A la hora de definir una tupla con un solo elemento se debe tener cuidado:

In [ ]:
t = (5, ) # t es una tupla
print(t)
print(type(t))

In [ ]:
t = (5) # t no es una tupla
print(t)
print(type(t))

### Diccionarios

Junto con el tipo **lista**, el tipo **diccionario** es muy utilizado al programar en Python, y lo utilizaremos con frecuencia durante el curso. Representa una colección de elementos indexados por una *clave*:

In [ ]:
conteo = {"palabra": "Hello", "total": 10}

Aunque lo normal es que la clave sea de tipo string, puede ser de otros tipos, siempre que sean tipos inmutables:

In [ ]:
conteo_numeros = {1: 10, 2: 6}

Para recuperar un elemento de un diccionario, accederemos como si de un valor de una lista se tratara, pero indexándolo por su valor de clave:

In [ ]:
print("Valor de total: ", conteo["total"])

La modificación del valor asociado a una clave de un diccionario es sencilla:

In [ ]:
conteo["total"] = 20
conteo

Como también lo es la adición de nuevos elementos en tiempo de ejecución:

In [ ]:
conteo["nuevo"] = "nuevo"
conteo


El método `items` nos permite transformar un diccionario a una lista de tuplas (`clave`,`valor`). Esto es especialmente útil para **iterar** sobre diccionarios:

In [ ]:
list(conteo.items())

Si solamente estamos interesados en las claves de un diccionario, podemos obtenerlas mediante el método `keys`:

In [ ]:
print("Claves de diccionario: ", conteo.keys())

Análogamente, si queremos obtener los valores de un diccionario, haremos uso del método `values`:

In [ ]:
print("Valores de diccionario: ", conteo.values())

Otro método muy interesante para el manejo de diccionarios es `update`, mediante el que podremos combinar diccionarios:

In [12]:
uno = {"ejemplo1": True, "ejemplo2": True}
otro = {"ejemplo1": False, "ejemplo3": True}
uno.update(otro)
uno

{'ejemplo1': False, 'ejemplo2': True, 'ejemplo3': True}

El método `update` **modifica el objeto sobre el que se invoca** y en caso de coincidencia, **tendrán preferencia los valores del diccionario pasado como argumento**.

Cuando intentamos recuperar un elemento de un diccionario haciendo uso de una clave inexistente obtendremos un error. Si en su lugar queremos que se nos devuelva `None`, tendremos que hacer uso del método `get`:

In [13]:
# uno["nuevo"] -> error
print(uno.get("nuevo"))

None

También puede incluso devolvernos un valor por defecto:

In [14]:
uno.get("nuevo", "No existe")

'No existe'

Para pasar una lista a un diccionario cuyas claves son las posiciones de la lista, podemos ayudarnos de la función `enumerate`:

In [ ]:
dict(enumerate(["hola", "mundo", "!!!"]))

{0: 'hola', 1: 'mundo', 2: '!!!'}

También podemos pasar fácilmente una lista de tuplas a un diccionario de la siguiente manera:

In [15]:
dict(zip(["uno", "dos", "tres"], [1,2,3]))

{'uno': 1, 'dos': 2, 'tres': 3}

### Conjuntos

Cuando no nos interese el orden de los elementos ni si están o no repetidos, utilizaremos el tipo de dato **conjunto**:

In [17]:
peliculas_vistas = set(["Terminator", "Matrix", "Matrix", "Rambo", "Rocky"])
peliculas_recomendadas = set(["El Padrino", "Matrix", "Titanic"])

Fijaos cómo la película `Matrix` aparece solamente una vez en `peliculas_vistas`:

In [18]:
print("Peliculas vistas contiene: ", peliculas_vistas)
print("Peliculas recomendadas contiene: ", peliculas_recomendadas)

Peliculas vistas contiene:  {'Matrix', 'Terminator', 'Rocky', 'Rambo'}
Peliculas recomendadas contiene:  {'Matrix', 'Titanic', 'El Padrino'}

Podemos comprobar cómo el orden de los elementos en un conjunto no afecta a la igualdad entre conjuntos:

In [19]:
peliculas_desordenadas = set(["Rambo", "Rocky", "Terminator", "Matrix"])
print("El orden en un conjunto no importa: ", peliculas_vistas == peliculas_desordenadas)
print("Pero sí su contenido: ", peliculas_vistas == peliculas_recomendadas)

El orden en un conjunto no importa:  True
Pero sí su contenido:  False

Python nos permite hacer una serie de operaciones básicas sobre conjuntos:

* **Unión** de conjuntos (o conjunto de elementos incluidos en **algún** conjunto):

In [20]:
peliculas_vistas | peliculas_recomendadas

{'El Padrino', 'Matrix', 'Rambo', 'Rocky', 'Terminator', 'Titanic'}

* **Intersección** de conjuntos (o conjunto de elementos incluidos en **todos** los conjuntos):

In [21]:
peliculas_vistas & peliculas_recomendadas

{'Matrix'}

* **Diferencia** entre conjuntos (o conjunto de elementos **presentes en el primero y que no estén en el segundo**):

In [22]:
peliculas_vistas - peliculas_recomendadas

{'Rambo', 'Rocky', 'Terminator'}

* **Diferencia simétrica** (o conjunto de elementos **presentes en el primero y que no estén en el segundo** y **presentes en el segundo y que no estén en el primero**):

In [23]:
peliculas_vistas ^ peliculas_recomendadas

{'El Padrino', 'Rambo', 'Rocky', 'Terminator', 'Titanic'}

No podemos acceder a los elementos de un conjunto por su posición (los elementos de un conjunto no están ordenados), pero sí podemos **extraerlos** mediante `pop`:

In [24]:
# peliculas_vistas[0] -> error
peliculas_vistas.pop()

'Matrix'

Igual que podemos extraer, también podemos **insertar** nuevos elementos en un conjunto. Para ello, haremos uso del método `add`:

In [ ]:
peliculas_vistas.add("La roca")

También podemos **iterar** sobre el contenido de un conjunto:

In [ ]:
for pelicula in peliculas_vistas: print(pelicula)

Mediante la función `len` podemos averiguar el número de elementos que contiene un conjunto:

In [ ]:
len(peliculas_vistas)

Si queremos construir una lista a partir de un conjunto (y de paso tener acceso a todos los operadores aplicables sobre las listas), haremos uso del constructor `list`:

In [ ]:
conjunto = set(["uno", "uno", "dos", "tres"])
print("Tipo de conjunto es: ", type(conjunto))
print("Tipo de conjunto pasado a lista es: ", type(list(conjunto)))

## Sentencias para el control de flujo

Al igual que ocurre con muchos lenguajes de programación, `Python` nos proporciona las palabras clave `if`, `else`, `elif` para definir sentencias condicionales, y `for` y `while` para definir bucles.

Por ejemplo, el siguiente código mostrará por pantalla aquellos números de una lista que sean pares:

In [ ]:
numero = 3
# No necesitamos paréntesis, los dos puntos marcan el final de la sentencia
if numero % 2 == 0:
  print(f"El número {numero} es par")
else:
  print(f"El número {numero} es impar")

Es posible que tengamos que comprobar múltiples condiciones a la vez, para ello haremos uso de la palabra clave `elif`:

In [ ]:
saldo_bancario = -1000
if saldo_bancario > 0:
  print("¡Qué gusto vivir con ahorros!")
elif saldo_bancario <= 0 and saldo_bancario >= -10000:
  print("Tienes un problema")
else:
  print("Tu banco tiene un problema")

Mediante `for` y `while` construiremos bucles. Utilizaremos `for` para iterar sobre colecciones, mientras que `while` permitirá iterar en base a una condición de finalización. Veamos unos ejemplos:

In [ ]:
# Elevamos al cuadrado una lista de números
numeros = [1,3,2,4]
# La función range genera una lista ordenada de enteros
for i in range(len(numeros)): # i in [0,1,2,3]
  numeros[i] = numeros[i] ** 2
print(numeros)

**¿Qué pasaría si incluyéramos dos espacios antes de la sentencia `print(numeros)`?**

In [ ]:
# Una solución más elegante
numeros = [1,3,2,4]
print([numero**2 for numero in numeros])

In [ ]:
# Sumamos todos números de una lista, consumiéndola en el proceso
numeros = [1,3,2,4]
result = 0
while len(numeros) > 0:
  result += numeros.pop()
print(result)

In [ ]:
# Una forma más elegante de sumar los elementos de una lista
numeros = [1,3,2,4]
print(sum(numeros))

In [ ]:
# Construimos una nueva lista con solo los números pares
numeros = [1,3,2,4]
pares = []
for numero in numeros:
  if numero % 2 == 0:
    pares.append(numero)
print(pares)

In [ ]:
# Otra forma más elegante
numeros = [1,3,2,4]
print ([numero for numero in numeros if numero % 2 == 0])

Cuando escribimos código dentro de un bucle, tenemos a nuestra disposición dos sentencias especiales: `break` y `continue`. La sentencia `break` interrumpe la ejecución del bucle y fuerza su salida. El comando `continue` forzará el comienzo de una nueva iteración, omitiendo la ejecución del resto del código. Veamos unos ejemplos:

In [ ]:
for i in range(4):
  print("Comienzo iteración ", i)
  if (i < 2):
    continue
  # Hasta que i no valga 2, no llegaremos a esta sentencia
  print("Finalizo iteración ", i)

In [ ]:
for i in range(4000):
  print("Comienzo iteración ", i)
  # Dejaremos de iterar cuando i valga 2, independientemente del tamaño de la lista
  if (i > 1):
    break
  print("Finalizo iteración ", i)

#### Ejercicio

**Python, a diferencia de otros lenguajes de programación, no nos proporciona la estructura de control `switch` para la selección de un valor de una lista en base a una condición. En su lugar, tendremos que escribir una secuencia de if .. elif .. o bien, hacer uso de diccionarios.**

**Haciendo uso de una secuencia if-elif-else, escribe código Python que emule el siguiente código `Java`:**
```java
int value = 9;
switch(value)
{
  case 1: return "primero";
  case 2: return "segundo";
  case 3: return "tercero";
  default: return "desconocido";
}
```

In [ ]:
#@title
value = 9
if value == 1:
  result = "primero"
elif value == 2:
  result = "segundo"
elif value == 3:
  result = "tercero"
else:
  result = "desconocido"
result

**Inténtalo ahora haciendo uso de un diccionario:**

In [ ]:
#@title
value = 9
switch = {
    1: "primero",
    2: "segundo",
    3: "tercero"
}
switch.get(value, "desconocido")

 #### Ejercicio

 **Escribe código en Python que imprima por pantalla los 10 primeros múltiplos de 3.**

In [ ]:
#@title
for i in range(1,11):
  print(i*3)

#### Ejercicio
**Escribe código en Python que muestre de la siguiente lista aquellos números que son múltiplos de 3:**

```python
lista = [1,6,7,8,12,14,15,24,32,45,67,102,103]
```

In [ ]:
#@title
lista = [1,6,7,8,12,14,15,24,32,45,67,102,103]
for num in lista:
  if num % 3 == 0:
    print (num)

#### Ejercicio
**Escribe código en Python que multiplique cada elemento de una lista por la posición que ocupen en ella:**

**PISTA**: La función `enumerate` o bien `range` y `zip` pueden serte de utilidad.
```python
zip(range(....), lista)
```

In [ ]:
#@title
lista = [1,5,3,1,2,5,7,8,2]
for idx, elem in enumerate(lista):
  print(idx*elem)

In [ ]:
#@title
lista = [1,5,3,1,2,5,7,8,2]
for idx, elem in zip(range(0, len(lista)), lista):
  print(idx*elem)

## Funciones

Cuando queremos reutilizar código en un programa, lo normal es encapsularlo en una función. En el contenido o cuerpo de una función, disponemos de la sentencia return para devolver un resultado:

In [ ]:
# Devuelve el texto invertido y pasado a mayúsculas
def invierte_mayusculas(texto):
  return texto[::-1].upper()

Para invocar una función que hemos definido previamente, simplemente escribiremos su nombre y especificaremos sus parámetros entre paréntesis (si no hubiera parámetros, esta lista estaría vacía):

In [ ]:
invierte_mayusculas("En un lugar de La Mancha de cuyo nombre no quiero acordarme...")

Nos permite también asignar valores por defecto a los parámetros de una función:

In [28]:
def saludar(titulo, nombre, adicional = "Eres un completo desconocido"):
  print(f"Saludos, {titulo} {nombre}. {adicional}")

In [29]:
saludar("Sr.", "Pablo")

Saludos, Sr. Pablo. Eres un completo desconocido

Python permite, a la hora de invocar una función, especificar sus parámetros por nombre. Esto es muy útil cuando el número de parámetros de una función es muy elevado y/o no conocemos su orden:

In [30]:
saludar(adicional="Dueño de ninguna tierra en ninguna parte.", titulo="Mr.", nombre="Pablo")

Saludos, Mr. Pablo. Dueño de ninguna tierra en ninguna parte.

Python permite definir un tipo especial de funciones denominadas *Funciones Lambda* o anónimas. Estas permiten definir una función sin nombre, como una expresión cuyo resultado nos será devuelto.

Se trata de crear funciones de manera rápida, just in time, sobre la marcha, para prototipos ligeros que requieren únicamente de una pequeña operación o comprobación. Por lo tanto, toda función lambda también puede expresarse como una convencional (pero no viceversa).

In [25]:
eleva_cuadrado = lambda x : x ** 2
eleva_cuadrado(3)

9

Esta clase de funciones, además de ser muy cómodas de definir, nos permite realizar operaciones más complejas sobre listas:

* La función [filter(funcion, iterable)](https://docs.hektorprofe.net/python/funcionalidades-avanzadas/funcion-filter/) construye una lista con aquellos elementos en los cuales funcion(iterable[i]) retorna True.

In [ ]:
mayor_que_cuatro = lambda x : x > 4
numeros = [2,4,6,1,8]
# Obtención de números mayores que cuatro
print(list(filter(mayor_que_cuatro, numeros)))

[6, 8]

* La función [map(funcion, iterables)](https://docs.hektorprofe.net/python/funcionalidades-avanzadas/funcion-map/) Esta función trabaja de una forma muy similar a filter(), con la diferencia que en lugar de aplicar una condición a un elemento de una lista o secuencia, aplica una función sobre todos los elementos y como resultado se devuelve un iterable de tipo map:

In [26]:
# Elevar al cuadrado una lista de números
numeros = [2,4,6,1,8]
print(list(map(eleva_cuadrado, numeros)))

[4, 16, 36, 1, 64]

También nos facilitan enormemente la obtención de funciones compuestas:

In [31]:
saluda_pablo = lambda adicional: saludar("Sr.", "Pablo", adicional)
saluda_pablo("No sé qué más decir.")

Saludos, Sr. Pablo. No sé qué más decir.

In [ ]:
saludo_pablo_adicional_reves = lambda adicional: saluda_pablo(invierte_mayusculas(adicional))
saludo_pablo_adicional_reves("No sé qué más decir.")

Saludos, Sr. Pablo. .RICED SÁM ÉUQ ÉS ON

<div class="alert alert-warning">
<b>OJO</b> Las funciones lambda únicamente pueden contener una expresión. Si queremos realizar tareas más complejas, tendremos que utilizar una función.
</div>

#### Ejercicio

**Define una función `factorial` que calcule el factorial de un número:**

In [32]:
#@title
def factorial(n):
  if n < 2:
    return 1
  return factorial(n-1)*n

**Descomenta y ejecuta el siguiente código si quieres comprobar que tu función es correcta:**

In [33]:
#assert factorial(0) == 1
#assert factorial(1) == 1
#assert factorial(2) == 2
#assert factorial(3) == 6
#assert factorial(4) == 24
#assert factorial(5) == 120

## Importar otras librerías

Es muy probable que la funcionalidad incorporada por Python no sea suficiente para el programa que pretendamos desarrollar. Por ello, Python nos proporciona el comando `import` mediante el que podremos incluir otras librerías que faciliten nuestro desarrollo.

Por ejemplo, imaginemos que deseamos obtener un elemento aleatorio de una colección dada. Para ello, deberíamos importar la librería `random`:

In [ ]:
import random
random.choice(["Bola blanca", "Bola blanca", "Bola blanca", "Bola azul", "Bola verde"])

También podemos asignar alias a las librerías importadas, para que tengan nombres más cómodos de utilizar o bien, para evitar que la librería *colisione* con otra librería importada previamente con el mismo nombre:

In [ ]:
import os.path as ph
ph.abspath(".")

'/content'

También, mediante el uso de la palabra clave `from`, podemos importar elementos específicos dentro de la librería:

In [ ]:
from math import pi
pi

Es posible no tengamos acceso a ciertas librerías que pretendamos utilizar (por ejemplo `pandas`, `numpy`, `spacy`). No todas las librerías se instalan junto con Python y será necesario instalarlas en nuestro sistema. La forma más cómoda de hacerlo es mediante un *instalador de paquetes*, siendo `pip` y `conda` los más conocidos.

# Ejercicios de profundización

**Desarrolla una función `primos` que dado un número `n` pasado como parámetro, devuelva todos los números primos menores que `n`:**

**Por ejemplo:**
```python
primos(10)
#### Salida
[1,2,3,5,7]
```
```python
primos(20)
#### Salida
[1,2,3,5,7,11,13,17,19]
```

In [ ]:
#@title
def primos(n):
  # Criba de Eratóstenes
  result = list(range(1,n))
  i = 2
  while(i**2 < n):
    result = [elem for elem in result if elem <= i or elem % i != 0 ]
    i+=1
  return result

In [ ]:
#@title
primos(50)

12.3 µs ± 142 ns per loop (mean ± std. dev. of 10 runs, 100000 loops each)

**Desarrolla una función `pyramid` que reciba el número de pisos como parámetro y e imprima por pantalla una pirámide de asteriscos.**

**Por ejemplo:**

```python
pyramid(1)
#### Salida
*
```

```python
pyramid(3)
#### Salida
  *
 ***
*****
```

```python
pyramid(5)
#### Salida
    *
   ***
  *****
 *******
*********
```
**PISTA:** `print` puede imprimir a continuación de la salida anterior si le pasamos el argumento `end` con valor igual a la cadena vacía:

```python
print("...", end="")
```

In [ ]:
#@title
def pyramid(floors):
  total = (floors-1)*2+1
  mid = (total-1)//2
  for i in range(0, floors):
    for j in range(0, total):
      if j >= mid-i and j <= mid+i:
        print('*', end = "")
      else:
        print(' ', end = "")
    print()

In [ ]:
#@title
pyramid(5)

**Desarrolla una función `word_count` que, dado un texto de entrada, devuelva un diccionario con cada palabra y el número de veces que aparece en el texto:**

**No debe distinguir entre mayúsculas y minúsculas. Por ejemplo:**

```python
word_count("""Texto de varias palabras, de
              tipo texto.""")
#### Salida
{'de': 2, 'palabras': 1, 'texto': 2, 'tipo': 1, 'varias': 1}
```
**PISTA:** si tienes dificultades para partir una cadena por varios delimitadores, puedes consultar las respuestas a la siguiente pregunta de [StackOverflow](https://stackoverflow.com/questions/4998629/split-string-with-multiple-delimiters-in-python).

**PISTA:** las listas en Python tienen un método `count` para contar el número de veces que un elemento aparece en la lista.

In [ ]:
#@title
def word_count(texto):
  import re
  word_list = re.split('[\s\t,.]+', texto.lower())
  return {key: word_list.count(key) for key in word_list if key}

**Desarrolla un método llamado `ordena` que, dada una lista de enteros pasada como parámetro, devuelva la misma lista ordenada:**

**Puedes utilizar cualquiera de los [algoritmos de ordenamiento](https://es.wikipedia.org/wiki/Algoritmo_de_ordenamiento#Lista_de_algoritmos_de_ordenamiento) que conozcas, pero NO utilices el método `sort` disponible para listas.**

**Ejemplo:**

```python
ordena([1,4,6,1,1,3,8])
### Salida
[1,1,1,3,4,6,8]
```

In [ ]:
#@title
def ordena(lista):
  result = lista.copy()
  for i in range (0, len(result)):
    min_value = None
    min_pos = -1
    for j in range (i, len(result)):
      if not min_value or min_value > result[j]:
        min_value = result[j]
        min_pos = j
    temp = result[i]
    result[i] = min_value
    result[min_pos] = temp
  return result

In [ ]:
#@title
ordena([1,4,6,1,1,3,8,12,1,14,4])

#Ejercicio

Escribe un programa que cuente el número de vocales de una frase.

```
Introduzca una frase: Hola a todos
Vocales: a(2), e(0), i(0), o(3), u(u)
```